{% extends 'AppBundle::layout.html.twig' %}
{% block title %} {{ product.name }} {% endblock %}


{% block stylesheets %}
    {{  parent() }}
    <link href='{{ asset('bundles/app/css/template/style.css') }}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block main %}


    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная страница</a></li>

                                <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- page main wrapper start -->
    <main>
        <div class="product-details-wrapper pt-100 pb-14 pt-sm-58">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <!-- product details inner end -->
                        <div class="product-details-inner">
                            <div class="row">
                                {% if product.gallery.galleryHasMedias is defined %}
                                <div class="col-lg-5">
                                    <div class="product-large-slider mb-20 slider-arrow-style slider-arrow-style__style-2">

                                        {% for i,galleryHasMedia in product.gallery.galleryHasMedias %}
                                            <div class="pro-large-img img-zoom" id="img1">
                                                <img src="{% path galleryHasMedia.media, 'big' %}" alt="" />
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="pro-nav slick-padding2 slider-arrow-style slider-arrow-style__style-2">
                                        {% for i,galleryHasMedia in product.gallery.galleryHasMedias %}
                                            <div class="pro-nav-thumb">
                                                <img width="100" height="70" src="{% path galleryHasMedia.media, 'small' %}" alt="" />
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                                <div class="col-lg-7">
                                    <div class="product-details-des pt-md-98 pt-sm-58">
                                        <h3>{{ product.name }}</h3>

                                        <div class="pricebox">
                                            {% if product.rebate != null  %}
                                                <span class="regular-price">{{ product.rebate }}</span>
                                            {% else %}
                                                <span class="regular-price">{{ product.price }}</span>
                                            {% endif %}

                                        </div>
                                        <p>
                                            {{ product.description }}
                                        </p>
                                        <div class="quantity-cart-box d-flex align-items-center mb-24">
                                            <div class="quantity">
                                                <div class="pro-qty"><input class="add_product_count" type="text" value="1"></div>
                                            </div>
                                            <div class="product-btn product-btn__color">
                                                <a data-id="{{ product.id }}" class="add_basket" href="#"><i class="ion-bag"></i>Добавить корзину</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product details inner end -->
                        <!-- product details reviews start -->
                        <div class="product-details-reviews pt-98 pt-sm-58">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product-review-info">
                                        <ul class="nav review-tab">

                                            <li>
                                                <a class="active" data-toggle="tab" href="#tab_three">Заказать товар</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content reviews-tab">

                                            {% for flashMessage in app.session.flashbag.get('error') %}
                                                <div class="error"> {{ flashMessage }}</div>



                                            {% endfor %}

                                            {% for flashMessage in app.session.flashbag.get('success') %}
                                                <div class="success">  {{ flashMessage }}</div>


                                            {% endfor %}
                                            <div class="tab-pane fade show active" id="tab_three">
                                                <form action="{{ path('order_product') }}" class="review-form" method="post">


                                                    <div class="form-group row">
                                                        <div class="col">
                                                            <label class="col-form-label"><span class="text-danger">*</span> Имя</label>
                                                            <input name="firstname" type="text" class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col">
                                                            <label class="col-form-label"><span class="text-danger">*</span> Фамилия</label>
                                                            <input name="lastname" type="text" class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col">
                                                            <label class="col-form-label"><span class="text-danger">*</span> Электронная почта</label>
                                                            <input  name="email" type="email" class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col">
                                                            <label class="col-form-label"><span class="text-danger">*</span> Адрес</label>
                                                            <input  name="address" type="text" class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col">
                                                            <label class="col-form-label"><span class="text-danger">*</span> Телефон</label>
                                                            <input  name="phone" type="text" class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <input name="product_id" type="hidden" value="{{ product.id }}">
                                                    <input name="product_count" type="hidden" class="product_count">

                                                    <div class="buttons">
                                                        <button class="sqr-btn order_product" type="button">Заказать</button>
                                                    </div>
                                                </form> <!-- end of review-form -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product details reviews end -->
                        <!-- featured product area start -->
                        {% if productCats %}
                        <div class="page-section pt-100 pt-sm-58">
                            <div class="section-title text-center pb-44">

                                <h2>Продукты</h2>
                            </div>
                            <div class="releted-product spt slick-padding slick-arrow-style">

                               {% for productCat in productCats %}
                                   {#{{ dump(category.product.image) }}#}
                                    <div class="product-item mb-20">
                                        <div class="product-thumb">
                                            <a href="{{ path('product_inner',{'id' : productCat.id}) }}">
                                                <img src="{% path productCat.image,'reference' %}" alt="product image">
                                            </a>

                                            <div class="product-action-link">
                                                <a href="#" data-toggle="modal" data-target="#quick_view"> <span
                                                            data-toggle="tooltip" data-placement="left" title=""><i class="ion-ios-eye-outline"></i></span> </a>

                                            </div>
                                        </div>
                                        <div class="product-description text-center">
                                            <div class="manufacturer">
                                                <p>
                                                    <a href="{{ path('product_inner',{'id' : productCat.id}) }}"> {{ productCat.name }}</a>
                                                </p>
                                            </div>
                                            <div class="product-name">

                                            </div>
                                            <div class="price-box">
                                                {% if productCat.rebate != null  %}
                                                    <span class="regular-price"> {{ productCat.rebate }}</span>

                                                    <span class="old-price">
                                                        <del>
                                                            {{ productCat.price }}

                                                        </del>
                                                    </span>
                                                {% else %}
                                                    <span class="regular-price">  {{ productCat.price }}</span>

                                                    <span class="old-price">
                                                        <del>
                                                           {{ productCat.rebate }}

                                                        </del>
                                                    </span>
                                                {% endif %}
                                            </div>
                                            <div class="product-btn">
                                                <a data-id="{{ product.id }}" class="add_basket" href="#"><i class="ion-bag"></i>Добавить корзину</a>
                                            </div>

                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                        {% endif %}
                        <!-- featured product area end -->
                    </div>
                    <div class="col-lg-3">
                        <div class="sidebar-wrapper pt-md-16 pb-md-86 pb-sm-44">
                            <!-- single sidebar start -->
                            <div class="sidebar-single">
                                <div class="sidebar-single">
                                    <div class="sidebar-title">
                                        <h3>КАТЕГОРИИ</h3>
                                    </div>
                                    <div class="sidebar-body">
                                        <ul class="sidebar-category">
                                            {% for category in categorys %}
                                                <li class="has-children"><a href="#">{{ category.name }}</a>
                                                    <ul class="children" style="display: none;">
                                                        {% for product in category.product  %}
                                                            <li>
                                                                <a href="{{ path('product_inner',{'id' : product.id}) }}">{{ product.name }}</a>
                                                            </li>

                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single sidebar end -->


                            <!-- single sidebar start -->
                            <div class="sidebar-single">
                                <div class="sidebar-title">
                                    <h3>ПРОДУКТЫ</h3>
                                </div>
                                <div class="sidebar-body">
                                    <div class="popular-item-inner">

                                        {% for proRend in productsRend %}
                                            <div class="popular-item">
                                                <div class="pop-item-thumb">
                                                    <a href="{{ path('product_inner',{'id' : proRend.id}) }}">
                                                        <img src="{% path proRend.image,'list' %}" alt="">
                                                    </a>
                                                </div>
                                                <div class="pop-item-des">
                                                    <h4><a href="{{ path('product_inner',{'id' : proRend.id}) }}">{{ proRend.name }}</a></h4>

                                                    {% if proRend.rebate != null  %}
                                                        <span class="pop-price">{{ proRend.rebate }}</span>
                                                    {% else %}
                                                        <span class="pop-price">{{ proRend.price }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            <!-- single sidebar end -->

                            <!-- single sidebar start -->
                            <div class="sidebar-single">
                                <div class="advertising-thumb img-full fix">
                                    <a href="#">
                                        <img src="{% path product.image,'list' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- single sidebar end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- page main wrapper end -->


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/order.js') }}" type="text/javascript"></script>

{% endblock %}