{% extends 'AppBundle::layout.html.twig' %}
{% block title %} {{ category.name }} {% endblock %}
{% block stylesheets %}
    {{  parent() }}
    <link href='{{ asset('bundles/app/css/template/style.css') }}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block main %}


    <!-- breadcrumb area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная страница</a></li>

                                <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main>
        <div class="shop-main-wrapper pt-100 pb-100 pt-sm-58 pb-sm-58">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 order-2 order-lg-1">
                        <div class="sidebar-wrapper mt-md-100 mt-sm-48">
                            <!-- single sidebar start -->
                            <div class="sidebar-single">
                                <div class="sidebar-title">
                                    <h3>КАТЕГОРИИ</h3>
                                </div>
                                <div class="sidebar-body">
                                    <ul class="sidebar-category">
                                        {% for category in categorys %}
                                            {% if category.children|length > 0 %}
                                            <li class="has-children"><a href="#">{{ category.name }}</a>
                                                <ul class="children" style="display: none;">

                                                    {% for cat in category.children %}

                                                        <li>
                                                            <a href="{{ path('product_list',{'id' : cat.id}) }}">{{ cat.name }}</a>
                                                        </li>

                                                    {% endfor %}
                                                </ul>
                                            </li>
                                             {% else %}
                                                <li>
                                                    <a href="{{ path('product_list',{'id':category.id}) }}">
                                                        {{ category.name }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- single sidebar end -->




                            <!-- single sidebar end -->

                            <!-- single sidebar start -->
                            <div class="sidebar-single">
                                <div class="sidebar-title">
                                    <h3>ПРОДУКТЫ</h3>
                                </div>
                                <div class="sidebar-body">
                                    <div class="popular-item-inner">

                                        {% for proRend in productsRend %}
                                            <div class="popular-item">
                                                <div class="pop-item-thumb">
                                                    <a href="{{ path('product_inner',{'id' : proRend.id}) }}">
                                                        <img src="{% path proRend.image,'list' %}" alt="">
                                                    </a>
                                                </div>
                                                <div class="pop-item-des">
                                                    <h4><a href="{{ path('product_inner',{'id' : proRend.id}) }}">{{ proRend.name }}</a></h4>

                                                    {% if proRend.rebate != null  %}
                                                        <span class="pop-price">{{ proRend.rebate }}</span>
                                                    {% else %}
                                                        <span class="pop-price">{{ proRend.price }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                       {% endfor %}

                                    </div>
                                </div>
                            </div>
                            <!-- single sidebar end -->

                            <!-- single sidebar start -->

                            <!-- single sidebar end -->
                        </div>
                    </div>
                    <!-- product view wrapper area start -->
                    <div class="col-xl-9 col-lg-8 order-1 order-lg-2">
                        <div class="shop-product-wrapper">
                            <!-- shop product top wrap start -->
                            <div class="shop-top-bar">
                                <div class="row">
                                    <div class="col-lg-7 col-md-6">
                                        <div class="top-bar-left">
                                            <div class="product-view-mode">
                                                <a href="#" data-target="grid" class=""><i class="fa fa-th"></i></a>
                                                <a class="active" href="#" data-target="list"><i class="fa fa-list"></i></a>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- shop product top wrap start -->
                            <!-- product view mode wrapper start -->
                            <div class="shop-product-wrap row list">

                                {% for product in products %}
                                <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">
                                    <!-- product grid item start -->
                                    <div class="product-item mb-20">
                                        <div class="product-thumb">
                                            <a href="{{ path('product_inner',{'id' : product.id}) }}">
                                                <img src="{% path product.image,'list' %}" alt="product image">
                                            </a>



                                            <div class="product-action-link">
                                                <a
                                                        href="#"
                                                        data-toggle="modal"
                                                        data-target="#quick_view_product"
                                                        class="product_modal_view"
                                                        data-id="{{ product.id }}"
                                                        data-image = "{% if product.image is defined %}{% path product.image,'list' %}{% endif %}"

                                                >
                                                    <span data-toggle="tooltip" data-placement="left" title="">
                                                        <i class="ion-ios-eye-outline"></i>
                                                    </span>
                                                </a>
                                                {#<a href="#" data-toggle="tooltip" data-placement="left" title="" data-original-title="Compare"><i class="ion-ios-loop"></i></a>#}
                                                {#<a href="#" data-toggle="tooltip" data-placement="left" title="" data-original-title="Wishlist"><i class="ion-ios-shuffle"></i></a>#}
                                            </div>
                                        </div>
                                        <div class="product-description text-center">
                                            <div class="manufacturer">
                                                {#<p><a href="product-details.html">Fashion Manufacturer</a></p>#}
                                            </div>
                                            <div class="product-name">
                                                <h3><a href="{{ path('product_inner',{'id' : product.id}) }}">{{ 	product.name }}</a></h3>
                                            </div>
                                            <div class="price-box">
                                                {% if product.rebate != null  %}
                                                    <span class="regular-price"> {{ product.rebate }}</span>

                                                    <span class="old-price">
                                                        <del>
                                                            {{ product.price }}

                                                        </del>
                                                    </span>
                                                {% else %}
                                                    <span class="regular-price">  {{ product.price }}</span>

                                                    <span class="old-price">
                                                        <del>
                                                           {{ product.rebate }}

                                                        </del>
                                                    </span>
                                                {% endif %}
                                            </div>
                                            <div class="product-btn">
                                                <a data-id="{{ product.id }}" class="add_basket" href="#"><i class="ion-bag"></i>Добавить корзину</a>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- product grid item end -->
                                    <!-- product list item start -->
                                    <div class="product-list-item mb-20">
                                        <div class="product-thumb">
                                            <a href="{{ path('product_inner',{'id' : product.id}) }}">
                                                <img src="{% path product.image,'list' %}" alt="product image">
                                            </a>
                                            {% if product.rebate != null  %}
                                                {% set price = product.price|split('руб') %}
                                                {% set rebate = product.rebate|split('руб') %}
                                               {% set procent = rebate[0]|round*100/price[0]|round %}
                                                                                               {#{% set procent =  %}#}
                                                <div class="box-label">

                                                    <div class="product-label discount">
                                                        <span>скидка {{ 100-procent|round }}%</span>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="product-action-link">
                                                {#<a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="" data-original-title=""><i class="ion-ios-eye-outline"></i></span> </a>#}
                                                <a
                                                        href="#"
                                                        data-toggle="modal"
                                                        data-target="#quick_view_product"
                                                        class="product_modal_view"
                                                        data-id="{{ product.id }}"
                                                        data-image = "{% if product.image is defined %}{% path product.image,'list' %}{% endif %}"

                                                >
                                                    <span data-toggle="tooltip" data-placement="left" title="">
                                                        <i class="ion-ios-eye-outline"></i>
                                                    </span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="product-list-content">
                                            <h4><a href="#"></a></h4>
                                            <h3><a href="{{ path('product_inner',{'id' : product.id}) }}">{{ 	product.name }}</a></h3>

                                            <div class="pricebox">
                                                {% if product.rebate != null  %}
                                                    <span class="regular-price"> {{ product.rebate }}</span>

                                                    <span class="old-price">
                                                        <del>
                                                            {{ product.price }}

                                                        </del>
                                                    </span>
                                                {% else %}
                                                    <span class="regular-price">  {{ product.price }}</span>

                                                    <span class="old-price">
                                                        <del>
                                                           {{ product.rebate }}

                                                        </del>
                                                    </span>
                                                {% endif %}
                                            </div>
                                            <p>
                                                {{ product.description }}
                                            </p>
                                            <div class="product-btn product-btn__color">
                                                <a data-id="{{ product.id }}" class="add_basket" href="#"><i class="ion-bag"></i>Добавить корзину</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- product list item end -->
                                </div>
                                {% endfor %}
                            </div>
                            <!-- product view mode wrapper start -->
                        </div>
                        <!-- start pagination area -->
                        <div class="paginatoin-area text-center mt-18">


                            <ul class="pagination-box">
                                {{ knp_pagination_render(products) }}
                                {#<li><a class="Previous" href="#">Previous</a></li>#}
                                {#<li class="active"><a href="#">1</a></li>#}
                                {#<li><a href="#">2</a></li>#}
                                {#<li><a href="#">3</a></li>#}
                                {#<li><a class="Next" href="#"> Next </a></li>#}
                            </ul>

                        </div>
                        <!-- end pagination area -->
                    </div>
                </div>
            </div>
        </div>
    </main>




    <div class="modal" id="quick_view_product">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- product details inner end -->
                    <div class="product-details-inner">
                        <div class="row">
                            <div class="col-lg-5 col-md-5">
                                <div class="product-large-slider mb-20 slider-arrow-style slider-arrow-style__style-2 large_silder_product">
                                    <div class="pro-large-img">
                                        {#<img  src="/bundles/app/images/product/product-details-img1.jpg" alt="" />#}
                                    </div>
                                    {#<div class="pro-large-img">#}
                                    {#<img src="/bundles/app/images//product/product-details-img2.jpg" alt=""/>#}
                                    {#</div>#}
                                    {#<div class="pro-large-img">#}
                                    {#<img src="/bundles/app/images/product/product-details-img3.jpg" alt=""/>#}
                                    {#</div>#}
                                    {#<div class="pro-large-img">#}
                                    {#<img src="/bundles/app/images/product/product-details-img4.jpg" alt=""/>#}
                                    {#</div>#}
                                    {#<div class="pro-large-img">#}
                                    {#<img src="/bundles/app/images/product/product-details-img4.jpg" alt=""/>#}
                                    {#</div>#}
                                </div>
                                <div class="pro-nav slick-padding2 slider-arrow-style slider-arrow-style__style-2 small_silder_product">
                                    {#<div class="pro-nav-thumb"><img src="/bundles/app/images/product/product-details-img1.jpg" alt="" /></div>#}
                                    {#<div class="pro-nav-thumb"><img src="/bundles/app/images/product/product-details-img2.jpg" alt="" /></div>#}
                                    {#<div class="pro-nav-thumb"><img src="/bundles/app/images/product/product-details-img3.jpg" alt="" /></div>#}
                                    {#<div class="pro-nav-thumb"><img src="/bundles/app/images/product/product-details-img4.jpg" alt="" /></div>#}
                                    {#<div class="pro-nav-thumb"><img src="/bundles/app/images/product/product-details-img5.jpg" alt="" /></div>#}
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7">
                                <div class="product-details-des pt-sm-30 ">
                                    <h3 class="product_modal_title">

                                    </h3>

                                    <div class="pricebox">
                                        <span class="regular-price product_modal_price">

                                        </span>
                                    </div>
                                    <p class="product_modal_desc">
                                    </p>
                                    <div class="quantity-cart-box d-flex align-items-center mb-24">

                                        {#<div class="product-btn product-btn__color">#}
                                        {#<a href="#"><i class="ion-bag"></i>Добавить корзину</a>#}
                                        {#</div>#}
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- product details inner end -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
