{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Գլխավոր Էջ{% endblock %}


{% block main %}
    <!-- slider area start -->
    <div class="hero-area">
        <div class="hero-slider-active slider-arrow-style slick-dot-style hero-dot">

            {% for homeSilder in homeSilders %}
            <div class="hero-single-slide hero-2 hero-2__Style-5 d-flex align-items-center" style="background-image: url({% path homeSilder.image,'reference' %});">
                <div class="container">
                    <div class="slider-content text-center">
                        <h1>{{ homeSilder.name }}</h1>
                        <h3 class="text-white">{{ homeSilder.description }}</h3>
                        {#<a href="shop-grid-left-sidebar.html" class="slider-btn">view collection</a>#}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- slider area end -->



    <!-- featured product area start -->
    <div class="page-section pt-100 pb-50 pt-md-92 pt-sm-56 pb-sm-10">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center pb-44">
                        <p>Последние популярные продукты</p>
                        <h2 class="text-white">Продукты</h2>
                    </div>
                </div>
            </div>
            <div class="row product-carousel-one spt-2 slick-arrow-style">

                {% for rendProduct in rendProducts %}
                    <div class="col">
                        <div class="product-item item-black mb-20">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="{% path rendProduct.image,'reference' %}" alt="product image">
                                </a>
                                <div class="box-label">
                                    {#<div class="product-label new">#}
                                        {#<span>new</span>#}
                                    {#</div>#}
                                    {% if rendProduct.rebate != null  %}
                                        <div class="product-label discount">
                                            <span>-5%</span>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="product-action-link">
                                    <a href="#" data-toggle="modal" data-target="#quick_view"> <span
                                                data-toggle="tooltip" data-placement="left" title="Quick view"><i class="ion-ios-eye-outline"></i></span> </a>

                                </div>
                            </div>
                            <div class="product-description text-center">

                                <div class="product-name">
                                    <h3><a href="product-details.html">{{ rendProduct.name }}</a></h3>
                                </div>
                                <div class="price-box">
                                    {% if rendProduct.rebate != null  %}
                                        <span class="regular-price"> {{ rendProduct.rebate }}</span>

                                        <span class="old-price">
                                            <del>
                                                {{ rendProduct.price }}

                                            </del>
                                        </span>
                                    {% else %}
                                        <span class="regular-price">  {{ rendProduct.price }}</span>

                                        <span class="old-price">
                                            <del>
                                               {{ rendProduct.rebate }}

                                            </del>
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="hover-box text-center">
                                    <div class="product-btn">
                                        <a data-id="{{ rendProduct.id }}" href="#"><i class="ion-bag"></i>Добавить корзину</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- featured product area end -->

    <div class="banner-statistic-two">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content-inner overlay banner-3">
                        <div class="banner-content banner-content__3 text-center">

                            <h2>Строй маг</h2>
                            <p>сэкономьте свое время</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- latest blog area start -->
    <div class="latest-blog-area pt-100 pb-90 pt-sm-58 pb-sm-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center pb-44">

                        <h2 class="text-white">категории</h2>
                    </div>
                </div>
            </div>
            <div class="blog-carousel-active row slick-arrow-style">
                {% for cat in categorys %}
                    <div class="col">
                        <div class="blog-item white-text">
                            <article class="blog-post">
                                <div class="blog-post-content">
                                    <div class="blog-top">
                                        <div class="post-date-time">
                                            <a href="">
                                                <span>{{ cat.name }} </span>
                                            </a>

                                        </div>
                                        <div class="post-blog-meta">

                                        </div>
                                    </div>

                                </div>
                                <div class="blog-content">

                                </div>
                            </article>
                        </div>
                    </div>
                {% endfor %}



            </div>
        </div>
    </div>

{% endblock %}