<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href='{{ asset('bundles/app/css/template/bootstrap.min.css') }}' rel='stylesheet' type='text/css'>
        {#<link href='{{ asset('bundles/app/css/template/font-awesome.min.css') }}' rel='stylesheet' type='text/css'>#}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">



        <link href='{{ asset('bundles/app/css/template/ionicons.min.css') }}' rel='stylesheet' type='text/css'>
        <link href='{{ asset('bundles/app/css/template/helper.min.css') }}' rel='stylesheet' type='text/css'>
        <link href='{{ asset('bundles/app/css/template/plugins.css') }}' rel='stylesheet' type='text/css'>
        <link href='{{ asset('bundles/app/css/template/style-green.css') }}' rel='stylesheet' type='text/css'>
        <link href='{{ asset('bundles/app/css/main.css') }}' rel='stylesheet' type='text/css'>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>



</head>
<body class="theme-color-5">
<!-- header area start -->
<header>

    <!-- header top start -->
    <div class="header-top-area theme-color-5 text-center text-md-left bdr-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5">
                    <div class="header-call-action">
                        <p>Wellcome you to Melani2 store!</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="header-top-right float-md-right float-none">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header top end -->

    <!-- main menu area start -->
    <div class="header-main sticky hm_5 theme-color-5 pt-sm-10 pb-sm-10 pt-md-10 pb-md-10">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="logo">
                        <a href="index-5.html">
                            <img src="/bundles/app/images/logo/logo_5.png" alt="Brand logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="main-header-inner">
                        <div class="main-menu white-text">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="active">
                                        <a href="#">Home <i class="fa fa-angle-down"></i></a>

                                    </li>
                                    <li class="static"><a href="#">pages <i class="fa fa-angle-down"></i></a>
                                        <ul class="megamenu dropdown">
                                            <li class="mega-title"><a href="#">column 01</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">shop grid left
                                                            sidebar</a></li>
                                                    <li><a href="shop-grid-right-sidebar.html">shop grid right
                                                            sidebar</a></li>
                                                    <li><a href="shop-list-left-sidebar.html">shop list left sidebar</a></li>
                                                    <li><a href="shop-list-right-sidebar.html">shop list right sidebar</a></li>
                                                </ul>
                                            </li>


                                            <li class="mega-title"><a href="#">column 04</a>
                                                <ul>
                                                    <li><a href="my-account.html">my-account</a></li>
                                                    <li><a href="login-register.html">login-register</a></li>
                                                    <li><a href="about-us.html">about us</a></li>
                                                    <li><a href="faq.html">faq</a></li>
                                                </ul>
                                            </li>
                                            <li class="megamenu-banners d-none d-lg-block">
                                                <a href="#">
                                                    <img src="/bundles/app/images/banner/banner-6.jpg" alt="">
                                                </a>
                                            </li>
                                        </ul>
                                    </li>


                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6 ml-auto">
                    <div class="header-setting-option setting-style-2 white-text">
                        <div class="search-wrap">
                            <button type="submit" class="search-trigger">
                                <i class="fa fa-search" aria-hidden="true"></i>

                            </button>
                        </div>
                        <div class="header-mini-cart">
                            <div class="mini-cart-btn">
                                <i class="ion-bag"></i>
                                <span class="cart-notification">2</span>
                            </div>
                            <ul class="cart-list">
                                <li>
                                    <div class="cart-img">
                                        <a href="product-details.html">
                                            <img src="/bundles/app/images/cart/cart-1.jpg"
                                                                            alt=""></a>
                                    </div>
                                    <div class="cart-info">
                                        <h4><a href="product-details.html">simple product 09</a></h4>
                                        <span>$60.00</span>
                                    </div>
                                    <div class="del-icon">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="cart-img">
                                        <a href="product-details.html"><img src="/bundles/app/images/cart/cart-2.jpg"
                                                                            alt=""></a>
                                    </div>
                                    <div class="cart-info">
                                        <h4><a href="product-details.html">virtual product 10</a></h4>
                                        <span>$50.00</span>
                                    </div>
                                    <div class="del-icon">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </li>
                                <li class="mini-cart-price">
                                    <span class="subtotal">subtotal : </span>
                                    <span class="subtotal-price ml-auto">$110.00</span>
                                </li>
                                <li class="checkout-btn">
                                    <a href="#">checkout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-block d-lg-none">
                    <div class="mobile-menu header-5"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- main menu area end -->

    <!-- Start Search Popup -->
    <div class="box-search-content search_active block-bg close__top">
        <form class="minisearch" action="#">
            <div class="field__search">
                <input type="text" placeholder="Search Our Catalog">
                <div class="action">
                    <a href="#"><i class="fa fa-search"></i></a>
                </div>
            </div>
        </form>
        <div class="close__wrap">
            <span>close</span>
        </div>
    </div>
    <!-- End Search Popup -->

</header>
<!-- header area end -->
    {% block body %}

        {% block main %} {% endblock %}

    {% endblock %}



<!-- footer area start -->
<footer>

    <!-- newsletter area start -->
    <div class="newsletter-area bg-black pt-64 pb-64 pt-sm-56 pb-sm-58">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="newsletter-inner white-bg">

                    </div>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->
                </div>

            </div>
        </div>
    </div>
    <!-- newsletter area end -->

    <!-- footer widget area start -->
    <div class="footer-widget-area white-bg pt-62 pb-56 pb-md-26 pt-sm-56 pb-sm-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-widget">

                        {{ render(controller('AppBundle:Base:aboutRand')) }}

                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">

                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">

                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-widget-title">
                            <div class="footer-logo">
                                <a href="index-5.html">
                                    <img src="/bundles/app/images/logo/logo_5.png" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="footer-widget-body">
                            {{ render(controller('AppBundle:Base:infoRand')) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer widget area end -->

    <!-- footer botton area start -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="bdr-top-2 pt-18 pb-18">
                <div class="row align-items-center">
                    <div class="col-md-6 order-2 order-md-1">
                        <div class="copyright-text white-bg">
                            <p>copyright <a href="#">HasTech</a>. All Rights Reserved</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- footer botton area end -->

</footer>

<!-- Quick view modal start -->
<div class="modal" id="quick_view">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- product details inner end -->
                <div class="product-details-inner">
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <div class="product-large-slider mb-20 slider-arrow-style slider-arrow-style__style-2">
                                <div class="pro-large-img">
                                    <img src="/bundles/app/images/product/product-details-img1.jpg" alt="" />
                                </div>
                                <div class="pro-large-img">
                                    <img src="/bundles/app/images//product/product-details-img2.jpg" alt=""/>
                                </div>
                                <div class="pro-large-img">
                                    <img src="/bundles/app/images/product/product-details-img3.jpg" alt=""/>
                                </div>
                                <div class="pro-large-img">
                                    <img src="/bundles/app/images/product/product-details-img4.jpg" alt=""/>
                                </div>
                                <div class="pro-large-img">
                                    <img src="/bundles/app/images/product/product-details-img4.jpg" alt=""/>
                                </div>
                            </div>
                            <div class="pro-nav slick-padding2 slider-arrow-style slider-arrow-style__style-2">
                                <div class="pro-nav-thumb"><img src="/bundles/app/images/product/product-details-img1.jpg" alt="" /></div>
                                <div class="pro-nav-thumb"><img src="/bundles/app/images/product/product-details-img2.jpg" alt="" /></div>
                                <div class="pro-nav-thumb"><img src="/bundles/app/images/product/product-details-img3.jpg" alt="" /></div>
                                <div class="pro-nav-thumb"><img src="/bundles/app/images/product/product-details-img4.jpg" alt="" /></div>
                                <div class="pro-nav-thumb"><img src="/bundles/app/images/product/product-details-img5.jpg" alt="" /></div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="product-details-des pt-sm-30">
                                <h3>Chaz Kangeroo Hoodies</h3>
                                <div class="ratings">
                                    <span class="good"><i class="fa fa-star"></i></span>
                                    <span class="good"><i class="fa fa-star"></i></span>
                                    <span class="good"><i class="fa fa-star"></i></span>
                                    <span class="good"><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <div class="pro-review">
                                        <span><a href="#">1 review(s)</a></span>
                                    </div>
                                </div>
                                <div class="pricebox">
                                    <span class="regular-price">$160.00</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<br>
                                    Phasellus id nisi quis justo tempus mollis sed et dui. In hac habitasse platea dictumst.</p>
                                <div class="quantity-cart-box d-flex align-items-center mb-24">
                                    <div class="quantity">
                                        <div class="pro-qty"><input type="text" value="1"></div>
                                    </div>
                                    <div class="product-btn product-btn__color">
                                        <a href="#"><i class="ion-bag"></i>Add to cart</a>
                                    </div>
                                </div>
                                <div class="availability mb-16">
                                    <h5>Availability:</h5>
                                    <span>in stock</span>
                                </div>
                                <div class="share-icon">
                                    <h5>share:</h5>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product details inner end -->
            </div>
        </div>
    </div>
</div>
<!-- Quick view modal end -->

<!-- Popup Subscribe Box Start -->
{#<div class="popup-subscribe-box" id="subscribe-popup">#}
    {#<div class="popup-subscribe-box-content">#}
        {#<div class="popup-subscribe-box-body">#}
            {#<a href="#subscribe-popup" class="popup-close sqr-btn">close</a>#}
            {#<h3>NEWSLETTER</h3>#}
            {#<p>Subscribe to our newsletters now and stay up-to-date with new collections, the latest lookbooks and exclusive offers.</p>#}
            {#<form class="popup-subscribe-form validate" method="post" id="nl-form">#}
                {#<input type="email" id="nl-email" autocomplete="off" placeholder="Your Email address">#}
                {#<button class="sqr-btn" id="nl-submit">subscriber</button>#}
                {#<div class="form-group text-center custom-checkbox custom-control">#}
                    {#<input type="checkbox" name="hide-popup" class="custom-control-input" id="hide-popup">#}
                    {#<label for="hide-popup" class="custom-control-label"> Don't show this popup again </label>#}
                {#</div>#}
            {#</form>#}
            {#<!-- mailchimp-alerts Start -->#}
            {#<div class="mailchimp-alerts">#}
                {#<div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->#}
                {#<div class="mailchimp-success"></div><!-- mailchimp-success end -->#}
                {#<div class="mailchimp-error"></div><!-- mailchimp-error end -->#}
            {#</div>#}
            {#<!-- mailchimp-alerts end -->#}
        {#</div>#}
    {#</div>#}
{#</div>#}
<!-- Popup Subscribe Box End -->

<!-- Scroll to top start -->
<div class="scroll-top not-visible">
    <i class="fa fa-angle-up"></i>
</div>
{% block javascripts %}
    <script src="{{ asset('bundles/app/js/template/vendor/modernizr-3.6.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/template/vendor/jquery-3.3.1.min.js') }}" type="text/javascript"></script>
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>#}
    {#<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>#}

    <script src="{{ asset('bundles/app/js/template/vendor/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/template/vendor/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/template/plugins.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/template/ajax-mail.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/template/main.js') }}" type="text/javascript"></script>
    {#<script  defer="defer" src="{{ asset('bundles/app/js/template/express_buttons.js') }}" type="text/javascript" crossorigin="anonymous"></script>#}
    {#<script  defer="defer" src="{{ asset('bundles/app/js/template/features.js') }}" type="text/javascript" crossorigin="anonymous"></script>#}
    {#<script  defer="defer" src="{{ asset('bundles/app/js/template/scripts.js') }}" type="text/javascript" crossorigin="anonymous"></script>#}






    {#<script defer="defer"#}
            {#src="https://cdn.shopify.com/s/assets/storefront/express_buttons-646307822f46ed653e67b5a23f6b2e4a7f38cb3a0df37b067fd9cc5898551c0c.js"#}
            {#crossorigin="anonymous"></script>#}
    {#<script defer="defer"#}
            {#src="https://cdn.shopify.com/s/assets/storefront/features-e87392afe29fe307282f4e6aad12cb4bcc2afefd6b7febf0b70edfd315f9684c.js"#}
            {#crossorigin="anonymous"></script>#}
    {#<script id="sections-script"#}
            {#data-sections="index-slideshow-full-width,index-products-carousel,index-image-with-text-overlay,index-newsletter,header,footer"#}
            {#defer="defer" src="https://cdn.shopify.com/s/files/1/0821/7433/t/3/compiled_assets/scripts.js?3"></script>#}

{% endblock %}
</body>

</html>
