
{% if products is defined and products[0] is not null%}
    <ul class="cart-list">
    {% for product in products %}

        <li>
            <div class="cart-img">
                <a href="{{ path('product_inner',{'id' : product.id}) }}">
                    <img src="{% path product.image,'list' %}" alt="{{ product.name }}">

                </a>
            </div>
            <div class="cart-info">

                <h4><a href="{{ path('product_inner',{'id' : product.id}) }}">{{ product.name|truncate(60) }}</a></h4>
                {% if product.rebate != null  %}
                    <span>{{ product.rebate }}</span>
                {% else %}
                    <span>{{ product.price }}</span>
                {% endif %}

            </div>
            <div class="del-icon delete_baslet" data-id={{ product.id }}>
                <i class="fa fa-times"></i>
            </div>
        </li>

    {% endfor %}
    </ul>
    {#<li class="mini-cart-price">#}
        {#<span class="subtotal">subtotal : </span>#}
        {#<span class="subtotal-price ml-auto">{{ priceTotal }}</span>#}
    {#</li>#}

{% endif %}